.progress {
    height: 4px;
    
}
.skill-head{
    color: white;
    text-align: center;
    padding: 5%;
}

.skill-text{
    color: white;
}
.skill-p-text{
    display: flex;
}
p.s-t-2 {
    width: 50%;
    text-align: end;
}
p.s-t-1 {
    width: 50%;
    text-align: start;
}
.skill-main {
    width: 64%;
    margin-left: 18%;
   
}