
.h-t-1{
    color: #eeb137;
}
.h-t-2{
    color: white;
    font-size: 130%;
}
.home-text1{
    margin-left: 7%;
    margin-top: 4%;
    font-size: 41px;
}

.home-main {
    display: flex;
    padding: 5%;
    margin-top: -3%;
}
.h-img{
    width: 100%;
    
}
.home-img{
  background-image: url(../Images/aneena5.jpg);
  background-size: cover; 
  width: 100%; 
  min-height: 450px;
  background-repeat: no-repeat;
  display: block;
}
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .col-lg-7,
    .col-lg-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }

  }
  